@model IEnumerable<Product>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row" style="display: block;">

            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title" style="border-bottom:none">
                        <h2>Ürün Yönetimi</h2>
                        <a class="btn btn-primary" style="color:#fff;float:right" asp-action="New">Yeni Kayıt</a>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Ürün Adı</th>
                                        <th class="column-title">Kategorisi</th>
                                        <th class="column-title">Fiyat</th>
                                        <th class="column-title">Ürün Açıklaması </th>
                                        <th class="column-title">Stok Miktarı</th>
                                        <th class="column-title">Kayıt Tarihi</th>
                                        <th class="column-title">Görüntülenme Sırası</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Product s in Model)
                                    {
                                        <tr>
                                            <td><a  asp-action="Edit" asp-route-id="@s.ID">@s.Name</a></td>
                                            <td>
                                                @if (s.Category == null)
                                                {
                                                    <span>Belirtilmedi</span>
                                                }
                                                else
                                                {
                                                    <span>@s.Category.Name</span>
                                                }
                                            </td>

                                            <td>@s.Price</td>
                                            <td>@s.Description</td>
                                            <td>@s.Stock</td>
                                            <td>@s.RecDate</td>
                                            <td>@s.DisplayIndex</td>
                                            <td><button type="button" class="btn btn-danger" onclick="deleteProductRecord(@s.ID);">Sil</button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->